<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Smart ENSaver</title>
  <link rel="stylesheet" href="{{ url_for('static',    filename='css/template.css') }}">
</head>
<body>
  {% extends "template.html" %}
  {% block content %}
  <h1> Smart EnSaver </h1>
  <p> Save the planet. Calculate your carbon footprint </p>

  <form method="post" action="/calculate">
    <label for="electricity">Electricity Usage (kWh):</label>
    <input type="number" id="electricity" name="electricity" required><br>

    <label for="gas">Gas Usage (m³):</label>
    <input type="number" id="gas" name="gas" required><br>

    <!-- New dropdown for postcode -->
    <label for="postcode">Suburb Postcode:</label>
    <select id="postcode" name="postcode">
      {% for suburb in suburbs %}
      <option value="{{ suburb.postcode }}">{{ suburb.postcode }}</option>
      {% endfor %}
    </select><br>

    <button type="submit">Calculate</button>
  </form>




  {% endblock %}
</body>
</html>
