<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Smart ENSaver</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
</head>
<body>
  {% extends "Template.html" %}
  {% block content %}
  <div class="slogan">
    <p>"For your better tomorrow save energy today"</p>
  </div>
  <div class="centered-content">
  <div class="container">
      <div class="image-container">
          <img src="{{ url_for('static', filename='images/leaves.jpg') }}" height="500" width="700" alt="Image Description">
      </div>
      <div class="text-container">
          <p>Sustainability is a vital cornerstone of our modern world, encompassing practices that ensure a harmonious balance between environmental, societal, and economic well-being.</p>
          <p> Embracing sustainable initiatives, we pave the path for a greener future. </p>
          <p>Want to compare emissions of your suburbs</p>
          <p>or</p>
          <p>Calculate your Carbon footprint?</p>
          <p>or you can choose from the options below</p>
          <a href="#emissions" class="btn">Emissions</a>
          <a href="#carbonfootprint" class="btn">Carbon footprint</a>
      </div>
  </div>
  </div>
  <div class="centered-content">
    <section id="emissions">
        <h2 class="slogan">Compare your Suburb emission with highest and lowest</h2>
        {% include 'index1.html' %}
    </section>
  </div>
  <div class="spacer"></div>
  <section id="carbonfootprint">
        <h2 class="slogan2">Oh! YOU ARE HERE</h2>
        <div class="slogan">
            <p>want to check your carbon Footprint?</p>
            <p>It an easy process</p>
            <p>Check your electricity and gas bill and enter the columns below</p>
        </div>
      <div class="container1">
        <form method="post" action="/calculate"class="calculator-form">
          <label for="electricity">Monthly Electricity Usage (kWh):</label>
          <input type="number" id="electricity" name="electricity" required><br>
          <label for="gas">Monthly Gas Usage (m³):</label>
          <input type="number" id="gas" name="gas" required><br>
          <button type="submit">Calculate</button>
        </form>
          <div class="image-container">
              <img src="{{ url_for('static', filename='images/Carbon Footprint.jpg') }}" height="400" width="300" alt="Image Description">
          </div>
      </div>
  </section>
  <div class="spacer"></div>
  {% endblock %}
</body>
</html>

